
@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');

body{
    background-color: aliceblue;
    font-family: Parkinsans;
}
.center{
    text-align: center;
}
.media{
    cursor: pointer;
}
#topbuttonsdiv{
    height: 25px;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: black;
    color: white;
}
.NoDec{
    text-decoration: none;
    color: white;
}
#contact{
    margin:auto;
    margin-top: 30px;
    width: 500px;
    height: 300px;
    text-align: center;
    border-style: solid;
    border-radius: 10px;
    border-color: red;
}
#mediadiv{
    align-items: center;
    margin:auto;
    margin-top: 30px;
    width: 500px;
    height: 300px;
    text-align: center;
    border-style:solid;
    border-radius: 10px;
    border-color: rgb(0, 195, 255);
}
.media{
    margin:auto;
    margin-top: 35px;
    width: 100px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-style: solid;
    border-radius: 10px;
    border-color: black;
}
